# Este es el cuarto workshop

* Crea la variable primer_nombre con el string John 
* Cera la variable segundo_nombre con elm string Doe 
* imprime las variables en pantalla

In [1]:
primer_nombre = "John"
segundo_nombre = "Doe"
print(primer_nombre, segundo_nombre)

John Doe

Para concatenar se puede usar tambien el operador +.
* Crea la variable nombre_completo para concatenarlo con primer_nombre y segundo_nombre, despues imrime la variable nombre_completo

In [2]:
nombre_completo = primer_nombre + " " + segundo_nombre # para no aparecer pegados se agrega un espacio entre comillas
print(nombre_completo)

John Doe

* crea la variable direccion para almacenar la direccion del empleado asignandole '123 calle principal' y finalmente imprimelo

In [ ]:
direccion = '123 calle principal'
print(direccion)

123 calle principal

Para que no se vea la direccion incompleta, aniade el a침ade el numero de departamento donde vive; cuando quieres a침adir contenido al final de una cadena de texto puedes usar el operador += (o asignacion aumentada), recuerda que los strings son inmutables por lo tanto esta operacion no cambia el string original, en lugar de eso crea una cadena y la reasigna a la variable.
* con ayuda del operador += a침ade la cadena ', apartamento 4B' para la variable direccion

In [4]:
direccion += ', apartamento 4B'
print(direccion)

123 calle principal, apartamento 4B

* Crea la variable edad_del_empleado asisgnadole el valor 28 
* Crea la variable info_del_empleado y asignale el resultado de la concatenacion (nombre_completo y una cadena 'tiene seguido de un  espacio')

In [7]:
edad_del_empleado = 28
info_del_empleado = nombre_completo + ' tiene '  # "tiene" seguido de un espacio

print(edad_del_empleado)
print(info_del_empleado)

28
John Doe tiene

* Concatena la edad del empleado al final de la variable info_del_empleado, ten cuidado de que no se genere un TypeError

In [8]:
info_del_empleado += str(edad_del_empleado)
print(info_del_empleado)

John Doe tiene 28

* Completa la frase concatenando la cadena de texto ' a침os' con un espacio al comienzo y vuelve a imprimir la variable info_del_empleado

In [9]:
info_del_empleado += ' a침os'
print(info_del_empleado)

John Doe tiene 28 a침os

* Crea la variable a침os_de_experiencia y asignale el entero 5
* Crea la variable info_de_experiencia, asignale la cadena 'experiencia: ' concatenando la variable a침os_experiencias y 'a침os'
* imprime la informacion

In [10]:
a침os_de_experiencia = 5
info_de_experiencia = 'experiencia: ' + str(a침os_de_experiencia) + ' a침os'
print(info_de_experiencia)

experiencia: 5 a침os

Concatenando muchos strings con + y convertir otros a numero usando str() puede ser un trabajo tedioso, es por eso a que a partir de python 3.6 introdujo los f strings para resolver esto. Tan solo con poner una f y poner  las variables y expresiones dentro de llaves se concatenan.
* Crea la variable tarjeta_empleado y asignale f string para que se pueda ver empleado: y el valor de la variable info_del_empleado

In [12]:
tarjeta_empleado = f"empleado: {info_del_empleado}"
print(tarjeta_empleado)

empleado: John Doe tiene 28 a침os

Debemos a침adirle mas informacion a tarjeta_empleado como el nombre de empleado y la edad del empleado

In [13]:
# a침adimos nombre y edad a la tarjeta existente
tarjeta_empleado += f", nombre: {nombre_completo}, edad: {edad_del_empleado}" # se separan con comas para que no se vea pegado o con | si se prefiere
print(tarjeta_empleado)

empleado: John Doe tiene 28 a침os, nombre: John Doe, edad: 28

A침adiendo los detalles finales a la tarjeta:
* Crea una variable llamada posicion y asignale la cadena 'Data Analyst' 
* crea la variable salario y asignale el valor $2.198.310
* Actualiza la trajeta del  empleado incluyendole la posicion y el salario 
* Imprime tarjeta_empleado para ver el resultado

In [14]:
posicion = 'Data Analyst'
salario = "$2,198,310"

tarjeta_empleado += f", posicion: {posicion}, salario: {salario}"
print(tarjeta_empleado)

empleado: John Doe tiene 28 a침os, nombre: John Doe, edad: 28, posicion: Data Analyst, salario: $2,198,310

In [15]:
# reconstruimos la tarjeta usando saltos de l칤nea para que no salga
# todo en una sola l칤nea
tarjeta_empleado = (
    f"empleado: {info_del_empleado}\n"
    f"nombre: {nombre_completo}\n"
    f"edad: {edad_del_empleado}\n"
    f"posicion: {posicion}\n"
    f"salario: {salario}"
)
print(tarjeta_empleado)

empleado: John Doe tiene 28 a침os
nombre: John Doe
edad: 28
posicion: Data Analyst
salario: $2,198,310

Al trabajar con cadenas de texto pueden ser utiles los slicing cuya sintaxis es string[start:stop]:
* Define codigo_empleado y asignale 'DEV-2026-JD-001'
* Crea la variable departamento y asignale el corte de codigo_empleado en donde el index sea 0 hasta 3 
* Imprime departamento

In [16]:
codigo_empleado = 'DEV-2026-JD-001'
departamento = codigo_empleado[0:3]  # 칤ndices 0 hasta 3 (excluye 3)
print(departamento)

DEV

* Crea la variable a침o_codigo y asignele el corte de codigo_empleado en donde el index sea 4 hasta 8 
* Crea la variable Iniciales y asignale el corte de codigo_empleado en donde el index sea 9 hasta 11
* Imprime las dos variables

In [17]:
a침o_codigo = codigo_empleado[4:8]
Iniciales = codigo_empleado[9:11]

print(a침o_codigo)
print(Iniciales)

2026
JD

* Crea la variable ultimos_tres y usa el index negativo para extraer los ultimos trwe caracteres de codigo_empleado 
* Imprime la variable ultimos_tres

In [18]:
ultimos_tres = codigo_empleado[-3:]  # 칰ltimos tres caracteres usando 칤ndice negativo
print(ultimos_tres)

001

# Finalmente te muestro el codigo completo 游꿀游늵

In [19]:
primer_nombre = "John"
segundo_nombre = "Doe"

nombre_completo = primer_nombre + " " + segundo_nombre

direccion = '123 calle principal'
direccion += ', apartamento 4B'

edad_del_empleado = 28
info_del_empleado = nombre_completo + ' tiene '
info_del_empleado += str(edad_del_empleado)
info_del_empleado += ' a침os'

a침os_de_experiencia = 5
info_de_experiencia = f'experiencia: {a침os_de_experiencia} a침os'

tarjeta_empleado = (
    f"empleado: {info_del_empleado}\n"
    f"nombre: {nombre_completo}\n"
    f"edad: {edad_del_empleado}\n"
    f"posicion: {posicion}\n"
    f"salario: {salario}"
)

codigo_empleado = 'DEV-2026-JD-001'
departamento = codigo_empleado[0:3]
a침o_codigo = codigo_empleado[4:8]
Iniciales = codigo_empleado[9:11]
ultimos_tres = codigo_empleado[-3:]

# impresiones finales
print(tarjeta_empleado)
print(departamento, a침o_codigo, Iniciales, ultimos_tres)

empleado: John Doe tiene 28 a침os
nombre: John Doe
edad: 28
posicion: Data Analyst
salario: $2,198,310
DEV 2026 JD 001